.DS_Store
Thumbs.db

release.properties
pom.xml.releaseBackup
pom.xml.tagConfFileBackup
pom.xml.nextSnapshot
pom.xml.war

**/target
**/*.iml
**/.idea

*.log

# Dane bazy danych MySQL z wolumenu Dockera
docker-vod/mysql/data/
docker-vod/mysql/*.sock
